
body{
 background-image: url("images/azul.jpg");
}

html  {
  font: normal 13px arial,helvetica,sans-serif;
  }
   
h1  {
  text-align: center;
  color: #000000;
  }
   
h2  {
  text-align: center;
  color: #777;
  
  }
 
ul {
  list-style: circle;
  color: #888;
  }
   td{
   padding: 12px; border-bottom: 1px solid #eee; position: relative;
   }
ul li a {
padding: 12px; border-bottom: 1px solid #eee; position: relative;
  color: #888;
  text-decoration: none;
  font-weight: bold;
  }
   input:focus, textarea:focus{
   background: #fff; border: 1px solid #555; box-shadow: 0 0 3px #aaa; padding-right: 70px;
   
   }
   
ul li a:hover {
  color: #f00;
  }
   
p {
  color: #456;
  }
   

    
div#columna {
float: left;
border-radius: 25px;
background-color: #FFFFFF;
  border: solid 1px #000000;
  left: 50px;
  top: 80px;
  width: 15em;
  height: 15em;
}
 
#centro
{
	margin: 0 auto;
	width: 61em;
}
 
#contenido {
float: right;
margin: 0 auto;
border-radius: 25px;
 background-color: #FFFFFF;
  border: solid 0.1em #000000;
  overflow: hidden;
  width: 45.6em;
  height: 50em;
  padding: 1 5px;
  padding: 0 0 0 5em;
  box-sizing:border-box;
}
 
div#marco1, div#marco2, div#marco3 , div#marco4{
  height: 100%;
  width: 100%;
}
#marco2
{
	padding-top: 1em;
}


.bt {
 background-color: #68b12f; background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e)); 
 background: -webkit-linear-gradient(top, #68b12f, #50911e);
 background: -moz-linear-gradient(top, #68b12f, #50911e);
 background: -ms-linear-gradient(top, #68b12f, #50911e); background: -o-linear-gradient(top, #68b12f, #50911e); 
 background: linear-gradient(top, #68b12f, #50911e); 
 border: 1px solid #509111; 
 border-bottom: 1px solid #5b992b; border-radius: 3px; -webkit-border-radius: 3px;
 -moz-border-radius: 3px; -ms-border-radius: 3px; 
 -o-border-radius: 3px;
 box-shadow: inset 0 1px 0 0 #9fd574; -webkit-box-shadow: 0 1px 0 0 #9fd574 inset; 
 -moz-box-shadow: 0 1px 0 0 #9fd574 inset; -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
 -o-box-shadow: 0 1px 0 0 #9fd574 inset;
 color: white; 
 font-weight: bold; padding: 6px 20px; text-align: center; text-shadow: 0 -1px 0 #396715; 
 } 
 .bt:hover { 
 opacity: .85; cursor: pointer;
 } 
 .bt:active { 
 padding: 1.2em;
 box-shadow: 0 0 10px 5px #356b0b inset; 
 } 


 
 input, textarea { 
 border: 1px solid #aaa; 
 box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
 border-radius: 2px; padding-right: 30px; -moz-transition: padding .25s;
 -webkit-transition: padding .25s; 
 -o-transition: padding .25s;
 transition: padding .25s;
 } 
 
 label {
 width: 150px; margin-top: 3px; display: inline-block; float: left; padding: 3px; 
 } 
 
 input:focus:invalid, textarea:focus:invalid
 { 
box-shadow: 0 0 5px #d45252; border-color: #b03535;
 } 
 
  
 input:required:valid,  textarea:required:valid 
 {
 box-shadow: 0 0 5px #5cd053; border-color: #28921f;
 } 
 
 #barra{
    height:50em; 
    width:45.5em; 
    overflow:scroll;
	overflow-x: hidden;
    margin-left: -5em;
	

}

.CSSTableGenerator {
    margin:0px;padding:0px;
    width: 100%;
    border:0px solid #045fb4;
    border-radius:13px;
}.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright:13px;
    -webkit-border-bottom-right-radius:13px;
    border-bottom-right-radius:13px;
}
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft:13px;
    -webkit-border-top-left-radius:13px;
    border-top-left-radius:13px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:13px;
    -webkit-border-top-right-radius:13px;
    border-top-right-radius:13px;
}.CSSTableGenerator tr:last-child td:first-child{
    -moz-border-radius-bottomleft:13px;
    -webkit-border-bottom-left-radius:13px;
    border-bottom-left-radius:13px;
}.CSSTableGenerator tr:hover td{

}
.CSSTableGenerator tr:nth-child(odd){ background-color:#69abe5; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#a8d9ff; }.CSSTableGenerator td{
    vertical-align:middle;


    border:1px solid #045fb4;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:11px;
    font-size:10px;
    font-family:Georgia;
    font-weight:normal;
    color:#000000;
}.CSSTableGenerator tr:last-child td{
    border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
    border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
    background:-o-linear-gradient(bottom, #007fff 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007fff), color-stop(1, #000000) );
    background:-moz-linear-gradient( center top, #007fff 5%, #000000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#007fff", endColorstr="#000000");	background: -o-linear-gradient(top,#007fff,000000);

    background-color:#007fff;
    border:0px solid #045fb4;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Georgia;
    font-weight:bold;
    color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #007fff 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007fff), color-stop(1, #000000) );
    background:-moz-linear-gradient( center top, #007fff 5%, #000000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#007fff", endColorstr="#000000");	background: -o-linear-gradient(top,#007fff,000000);

    background-color:#007fff;
}
.CSSTableGenerator tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}
